body {
  background-color: #a3bfb5;
  font-family: 'Heebo';
  margin: auto;
}

/* Top menu */

#hidden-menu {
  background-color: #a60303;
  position: relative;
  top: -23px;
  padding: 5px;
  transition: 0.5s
}

#hover-space {
  background-color: #a3bfb5;
  overflow: hidden;
  height: 30px;
  color: #FBFEF4;
  font-size: 0.7rem;
  letter-spacing: 0.2rem;
}

/* Vis */

.framework {
  fill: #f25c69;
  fill-opacity: 0;
  stroke: #f25c69;
  stroke-opacity: .2;
  stroke-width: 2px;
  stroke-miterlimit: 10;
}

.scene {
  fill: #0D0D0D;
  fill-opacity: 0;
  stroke:#0D0D0D;
  stroke-opacity: .2;
  stroke-width: 2px;
  stroke-miterlimit: 10;
}

.scene-name{
  fill: #0D0D0D;
  fill-opacity: .6;
  font-family: 'Heebo-SemiBold';
  visibility: hidden;
}

.group {
  fill: #f20505;
  fill-opacity: 0;
  stroke: #f20505;
  stroke-opacity: .2;
  stroke-width: 2px;
  stroke-miterlimit: 10;
}

.group-name{
  fill: #f20505;
  font-family: 'Heebo-SemiBold';
  visibility: hidden;
}

.subgroup {
  fill: #f20505;
  fill-opacity: 0;
  stroke: #f20505;
  stroke-opacity: .2;
  stroke-width: 2px;
  stroke-miterlimit: 10;
}

.character {
  fill: #f20505;
  fill-opacity: 0;
  stroke: #f20505;
  stroke-opacity: .2;
  stroke-width: 2px;
  stroke-miterlimit: 10;
}

.character-name{
  fill: #0D0D0D;
  font-family: 'Heebo-SemiBold';
  visibility: hidden;
}

.hover {
  fill-opacity: .2;
  stroke-opacity: .6;
  cursor: pointer;
}

.visited {
  stroke-opacity: .6;
}

.active {
  fill-opacity: .9;
  stroke-opacity: .9;
}

.minor {
  fill-opacity: .4;
  stroke-opacity: 0;
}

.visible-text {
  visibility: visible;
}

.active-text {
  visibility: visible;
  fill-opacity: .9;
}

.link {
  fill:none;
  stroke: #2D4D58;
  stroke-width: 0.5;
  stroke-opacity: 1;
  visibility: hidden;
}

.visible-link {
  visibility: visible;
}

/*.tooltip {
  position: absolute;
  z-index: 10;
  visibility: hidden;
}

.scene-tooltip {
  color: #0D0D0D;
  opacity: .6;
}

.group-tooltip {
  color: #f20505;
  opacity: .6;
}

.subgroup-tooltip {
  color: #f20505;
  opacity: .6;
}

.character-tooltip {
  color: #f20505;
  opacity: .6;
}*/

/* Draggable panel */

.panel {
  position: absolute;
  z-index: 20;
  text-align: left;
  background-color: #f20505;
  opacity: 0;
  min-width: 200px;
  min-height: 65px;
  border-radius: 3px;
  color: #a3bfb5;
  top: 50px;
  left: 50px;
}

.panel .close-panel {
  text-align: right;
  font-size: 0.6rem;
  margin-top: 2px;
  margin-bottom: -10px;
  margin-right: 5px;
  cursor: pointer;
}

.panel-body {
  padding: 3px 10px;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  cursor: move;
}

/* Player */

.mediPlayer {
  float: left;
  margin: 2px;
  cursor: default;
}
